<!DOCTYPE html>
<html>

<head>
    <title>Кітап.kz - Добавить книгу</title>
</head>

<body>
    <!-- код писать сюда -->
    <form action="/books" method="post">
        <input name="title" type="text" placeholder="Enter title of book"> <br>
        <input name="author" type="text" placeholder="Enter author of book"> <br>
        <input name="year" type="text" placeholder="Enter year of book"> <br>
        <input name="total_pages" type="text" placeholder="Enter amount of pages"> <br>
        <input name="genre" type="text" placeholder="Enter genre"> <br>
        <input type="submit" value="Send">
    </form>
 






    <!-- конец -->
</body>

</html>